@use "~stylesheets/responsiveness";

.announcements-listed-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  .announcement-box {
    padding: 10px;
    width: 100%;
    min-height: 100px;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 20px;

    &__title {
      font-family: "Source Sans Pro", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 35px;
      color: #ffffff;
      @include responsiveness.screen(smallest, phone) {
        @include responsiveness.font(3.1vw, 25px, 35px);
      }
    }

    &__date {
      font-family: "Source Sans Pro", sans-serif;
      font-style: italic;
      font-weight: normal;
      font-size: 25px;
      color: #ffffff;
      @include responsiveness.screen(smallest, phone) {
        @include responsiveness.font(3.1vw, 15px, 25px);
      }
    }

    &__message {
      font-family: "Source Sans Pro", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 30px;
      color: #ffffff;
      @include responsiveness.screen(smallest, phone) {
        @include responsiveness.font(3.1vw, 20px, 30px);
      }
    }
  }

  &__message {
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-weight: normal;
    @include responsiveness.font(3.1vw, 18px, 30px);

    color: #ffffff;
  }
}
