@use "~stylesheets/typography";
@use "~stylesheets/responsiveness";

// TODO: responsiveness for large-tablet and small-laptop

.timer-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 261px;
    @include typography.admin-card;

    &__time {
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        width: 100%;
    }

    &__header {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        text-align: center;
        color: #FFFFFF;

        @include responsiveness.screen(smallest, phone) {
            font-size: 32px;
        }
    }

    &__clock {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &__remaining {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    &__field {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        text-align: center;
        color: #FFFFFF;
        @include responsiveness.screen(smallest, phone) {
            font-size: 12px;
        }
    }

    &__char {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0 6px 0 6px;
        width: 35px;
        height: 48px;
        background: rgba(255, 255, 255, 0.91);
        border-radius: 4px;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        color: #233A59;

        @include responsiveness.screen(smallest, phone) {
            margin: 0 3px 0 3px;
            padding: 3px;
            width: 21px;
            height: 28px;
        }

        @include responsiveness.screen(smallest, phone) {
            margin: 0 2px 0 2px;
            padding: 2px;
        }
    }
}
