@use "~stylesheets/responsiveness";
@use "~stylesheets/typography";

.contact-page {
  display: flex;
  justify-content: center;
  &__container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    &--title {
      align-self: center;
      @include typography.form-titles;
      padding-bottom: 15px;
    }
    &--fields {
      display: flex;
      flex-direction: column;
      gap: 25px;
    }
  }
}
