@use "~stylesheets/responsiveness";

.add-announcement-component {
    display: flex;
    flex-direction: column;
    &__form-note {
        font-family: Source Sans Pro;
        font-style: italic;
        font-weight: normal;
        font-size: 25px;
        line-height: 31px;
        color: #ffffff;
    }
    &__header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 5%;
    }
    &__header-box {
        font-family: Lato, "sans-serif";
        font-style: normal;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        @include responsiveness.font(2.8vw, 25px, 55px);
        line-height: 66px;
        color: #FFFFFF;
        border: 2px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 10px;
        padding: 8px 25px 4px 25px;
        text-align: center;
        @include responsiveness.screen(smallest, phone, tablet) {
            padding: 0;
            @include responsiveness.font(3.1vw, 12px, 20px);
        }

        &.large {
            width:60%;
        }
        &.small {
            width:30%
        }
        button {
            // width: 100%;
            border: 0;
            background-color: transparent;
            font-family: Lato, "sans-serif";
            font-style: normal;
            font-weight: bold;
            @include responsiveness.font(2.1vw, 20px, 45px);
            line-height: 66px;
            text-align: center;
            color: #FFFFFF;
            @include responsiveness.screen(smallest, phone, tablet) {
                @include responsiveness.font(3.1vw, 12px, 20px);
            }
        }
    }
    &__field {
        display: flex;
        align-items: center;
        justify-content: center;
        input {
            height: 30px
        }

        textarea {
            height: 120px;
        }
    }

    &__textbox {
        width: 200px;
        margin-bottom: 5%;
        @include responsiveness.screen(tablet, large-tablet, small-laptop) {
            width: 300px;
        }

        @include responsiveness.screen(desktop) {
            width: 500px;
        }
        @include responsiveness.screen(big-desktop) {
            width: 500px;
        }
    }

    &__submit {
        background-color:#B8EDF9;
    }
}