@use "~stylesheets/responsiveness";

.dashboard-view {
  background: linear-gradient(#7eb6cd, #8189ce);
  min-height: 100vh;
  &__header {
    font-family: Lato, "sans-serif";
    font-style: normal;
    font-weight: bold;
    // font-size: 70px;
    line-height: 84px;
    color: #FFFFFF;
    border-bottom: 7px solid #fff;
    width: fit-content;
    margin-left: 8%;
    @include responsiveness.font(4.1vw, 30px, 70px);
    @include responsiveness.screen(smallest, phone, tablet, large-tablet) {
        width: 100%;
        border-bottom: 0;
        text-align: center;
        margin-left: 0;
    }
  }
  &__components {
      margin-top: 5%;
      display: flex;
      justify-content: space-around;
      height: 100%;
      flex-shrink: 0;
      flex-wrap: wrap;
  }
}
