@use "./responsiveness";

@mixin title {
  color: var(--color-text-primary);
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: bold;

  @include responsiveness.font($responsive: 3.8vw, $min: 32px, $max: 50px);
}

@mixin text {
  color: var(--color-text-primary);
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;

  @include responsiveness.font($responsive: 2.3vw, $min: 14px, $max: 22px);
}

@mixin button-text {
  @include text;
  // separating this out in case we need to apply additional styling to the buttons.
}

@mixin our-team-text {
  color: var(--color-text-primary);
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
}

@mixin our-team-message {
  color: var(--color-text-primary);
  font-family: "Lato", sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 36px;

}

@mixin card {
  color: var(--color-text-primary);
  font-family: "B612", sans-serif;
  font-style: normal;
  font-weight: normal;
}

@mixin card-names {
  @include card;
  @include responsiveness.font($responsive: 2.3vw, $min: 26px, $max: 32px);
}

@mixin card-titles {
  @include card;
  @include responsiveness.font($responsive: 2.1vw, $min: 19px, $max: 24px);
}

@mixin description {
  color: var(--color-text-secondary);
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;

  @include responsiveness.font($responsive: 2.3vw, $min: 12px, $max: 18px);
}

@mixin form-prompts {
  color: var(--color-black);
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: lighter;

  @include responsiveness.font($responsive: 2.3vw, $min: 18px, $max: 28px);
}

@mixin form-titles {
  color: var(--color-black);
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;

  @include responsiveness.font($responsive: 2.3vw, $min: 24px, $max: 36px);
}

@mixin admin-card {
  min-width: 280px;
  max-width: 500px;
  background: rgba(242, 250, 255, 0.21);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-bottom:10%;
}
