$color-bg-primary: #36628B;
$color-bg-secondary: #72BFCF;
$color-text-primary: #fff;
$color-text-secondary: #D3E2EB;


:root {
    --color-bg-primary: #{$color-bg-primary};
    --color-bg-secondary: #{$color-bg-secondary};

    --color-text-primary: #{$color-text-primary};
    --color-text-secondary: #{$color-text-secondary};
}
