@use "~stylesheets/typography";

.NavBar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  padding: 12px 30px;
  background: var(--color-bg-primary);

  .align-right {
    margin-left: auto;
  }

  .link {
    margin: 5px 18px;

    color: var(--color-text-primary);
    text-decoration: none;
    @include typography.button-text;
  }

  .link:hover, .active.link {
    color: var(--color-text-secondary);
  }
}
