@use "./stylesheets/responsiveness";
@use "./stylesheets/typography";

.application-form-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__progress {
    width: 100%;
    margin-left: 25%;
    margin-bottom: 71px;
  }
  &__progress-text {
    font-family: Lato, "sans-serif";
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
  }
  &__box {
    padding: 20px;
    width:75%;
    background: rgba(255, 251, 241, 0.83);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.41);
    border-radius: 18px;
    margin-bottom: 10%;
  }

  &__buttons {
    display: flex;
    justify-content: center;
  }

  &__button {
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
  }
}