@use "./stylesheets/responsiveness";
@use "./stylesheets/typography";

.experience-page {
  display: flex;
  justify-content: center;
  &__container {
    display: flex;
    flex-direction: column;
    gap: 2em;
    &--title {
      @include typography.form-titles;
      text-align: center;
    } 
  }
}
