@use "~stylesheets/responsiveness";
@use "~stylesheets/typography";
.text_box {
    display: flex;
    flex-direction: column;
    align-items: left;
    overflow: hidden;
    @include typography.form-prompts;
}

textarea {
    overflow-y: scroll;
    resize: none;
    width: 705px;
    height: 173px;
    &::-webkit-scrollbar {
        width: 10px;
    }
    &::-webkit-scrollbar-track {
    background: #FFFFFF;
  }
    &::-webkit-scrollbar-thumb {
    background: #888;
  }
    &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}