@use "~stylesheets/typography";
@use "~stylesheets/responsiveness";

.app-analytics-component {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 261px;
    @include typography.admin-card;

    &__button {
        button {
            border: 3px solid #B8EDF9;
        }
    }

    &__error {
        font-family: "Source Sans Pro", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        color: var(--color-text-primary);
    }

    &__results {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    &__result {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        text-align: center;
        color: #FFFFFF;
    }

    &__data {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 45px;
        text-align: center;
        color: #FFFFFF;

        @include responsiveness.screen(smallest, phone) {
            font-size: 30px;
        }
    }
}
