@use "./stylesheets/responsiveness";
@use "./stylesheets/typography";

.check-box-component {
  &__question {
    @include typography.form-prompts;
  }

  &__errorMessage {
    @include typography.form-error-message;
  }

  &__input {
    @include typography.form-input-box;
    &.width {
        width: 100%;
    }
  }

  &__input-container {
    width: 100%;
  }
  &__inputs {
    @include typography.form-component-width;
    display: flex;
  }
  &__selected-option {
    border: 1px solid #000000;
  }

  &__inputs-button {
      display: flex;
      flex-direction: row;
  }
  &__selected-option {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    flex-wrap: wrap;
    align-items: center;
    width: 100px;
  }

  &__dropdown {

  }

  &__dropdown-button {
    @include typography.form-input-box;
    width: 100%;
    background-color: transparent;
    border: 0;
  }

  &__dropdown-button-container {
    @include typography.form-input-box;
    width: 100%;
    background-color: transparent;
  }

  &__selected {
    @include typography.form-input-box;
  }
  &__options {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  &__option {
    appearance: none;
    width: 1.5em;
    height: 1.5em; 
    border: .12em solid black;
    border-radius: .25em;
    background-color: #fff;
    display: grid;
    place-content: center;
    
    &::before {
      content: "";
      width: 1.05em;
      height: 1.05em;
      transform: scale(0);
      background-color: #FE375B;
      transform-origin: bottom left;
      clip-path: polygon(50% 20%, 66% 5%, 88% 0, 100% 11%, 100% 40%, 50% 100%, 0 40%, 0 11%, 12% 0, 34% 5%);
      transition: 120ms transform ease-in-out;
    }
    &:checked::before {
      transform: scale(1);
    }
    &:hover{
      border: .15em solid black;
    }
  }

}
