@use "/src/stylesheets/responsiveness";

.error-view {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(#8296D9,#BFACF0);   
    @include responsiveness.font(10vw, 72px, 144px, 92px);
    &__message {
        color: var(--color-text-primary);
        font-family: "Lato";
        font-style: italic;
        font-weight: 700;
        text-align: center;
    }
    &__button {
        @include responsiveness.font(4vh, 16px, 64px, 24px);
        border: 3px solid var(--color-text-primary);
        transform: scale(1, 1);
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
    }
}
