@use "./stylesheets/responsiveness";
@use "./stylesheets/typography";

.faq-component {
  margin-top: -1px;
  background-size: cover;
  background: linear-gradient(
    var(--color-light-pink),
    var(--color-lavender),
    var(--color-sky-blue)
  );
  &__box {
    margin: auto;
    width: 50%;
    border: 7px solid rgba(255, 255, 255, 0.75);
    border-radius: 59px;
    padding: 10px;
    display: table;
    // height: 1400px;
    width: 1000px;
    @include responsiveness.screen(large-tablet) {
      width: 225px;
    }
    @include responsiveness.screen(desktop, big-desktop) {
      margin-bottom: 20px;
    }
  }
  &__faqtitle {
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-weight: bold;
    @include responsiveness.font($responsive: 4.1vw, $min: 35px, $max: 60px);
    text-align: center;
    color: var(--color-text-primary);
  }
  &__line {
    width: 390px;
    height: 11px;
    background: rgba(255, 255, 255, 0.73);
    margin: auto;
  }
  &__question {
    font-family: Lato;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: auto;
    color: #ffffff;
    cursor: pointer;
  }
  &__answer {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: auto;
    color: #ffffff;
    display: none;
  }

  &__questionsandanswers:after {
    display: table;
    clear: both;
  }
  &__column {
    float: left;
    width: 33.33%;
    // margin: 10px;
    // padding: 10px;
  }
  &__questionsandanswersitems {
    width: 30vh;
    margin: 10px;
  }
}
