.application-background {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    background: #FFF2D9;
    z-index: 0;

    &__hills {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -1;
    }

    &__waves {
        position: absolute;
        // 1440 x 385 => ~26% width = top offset of wave
        top: 24vw;
        left: 0;
        bottom: 0;
        width: 100%;
        height: calc(100% - 24vw);
        z-index: -1;
    }

    &__context {
        z-index: 1;
    }
}
